:host {
    --pdf-toolbar-height: 48px;
    --pdf-toolbar-background: #3d464d;
}

#toolbarContainer, #toolbarViewer {
    height: var(--pdf-toolbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    background: var(--pdf-toolbar-background);
    box-shadow: 0 2px 5px rgba(black, .1);
    color: white;
    #toolbarViewerLeft, #toolbarViewerMiddle, #toolbarViewerRight {
        display: flex;
        align-items: center;
        svg {
            fill: currentColor;
        }
        .page-indicator:disabled {
            pointer-events: none;
            svg {
                color: #83888d;
            }
        }
    }
}

#sidebarToggle {
    g {
        fill: none;
        stroke: currentColor;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        opacity: .5;
    }
    .box-line {
        fill: none;
        stroke: currentColor;
        stroke-miterlimit: 10;
        stroke-width: 2px;
        opacity: .5;
    }
    &.toggled {
        background-color: #EEEEEE;
        color: #5f5f5f;
    }
}

.page {
    &-indicators {
        display: flex;
        align-items: center;
        height: 28px;
        margin: 0 4px;
    }
    &-indicator {
        width: 26px;
        height: 100%;
        background: rgba(0, 0, 0, .2);
        color: #fff;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: all .15s;
        display: flex;
        justify-content: center;
        padding: 7px 3px;
        touch-action: none;
        svg {
            width: 100%;
            height: 100%;
        }
        &.previous {
            border-radius: 4px 0 0 4px;
        }
        &.next {
            border-radius: 0 4px 4px 0;
            margin-right: 10px;
        }
    }
}

#pageNumber {
    width: 48px;
    min-height: 20px;
    text-align: center;
    font-size: 13px;
    padding: 4px;
    font-weight: 400;
    background: rgba(0, 0, 0, .2);
    border: none;
    outline: none;
    color: #83888d;
    line-height: 13px;
    transition: all .15s;
    margin: 0 1px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
